.Categories{
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }
  .container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    box-sizing: border-box;

    .card{
      overflow: hidden;
      border: 2px solid  $primaryColorChar;
      background:  $primaryColorChar;
      height: 320px;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 0px 0px 0px, #D6D6E7 0 0px 0 inset;
      transition: all .5s;
      a{
        text-decoration: none;
        h2{
          font-size: $mediumText;
          font-weight: 600;
          text-align: center;
          color:$blackColor ;
          padding: 10px;

        }

          img{
            box-shadow: 0px 4px 5px 0px $primaryColorLightText;
             width: 100%;
           
        }
  
      button{
        width: 50%;
        margin-left: 65px;
        margin-top: 55px;
        border: none;
        background:$primaryColorChar;
        cursor: pointer;
        border-radius: 6px;
        transition: all .5s;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;;
        p{
          font-size:  $smallText;
          padding: 10px;
        }
        &:hover{
          background:#FCFCFD;
          color:#07aef1;
          box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
          transform: translateY(-5px);
        }
      }
    }
    &:hover{
      background: transparent;
      box-shadow:   rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-0.5rem) scale(1.0);
    }
    }
  }
}
