.Categories {
  margin-top: 70px;
  margin-bottom: 70px;
  @media only screen and (min-width: 1500px){
    padding:0px 150px ;
  }
  h1 {
    font-size: $bigText;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: $BoldFontColor;
  }
  .view {
    text-align: center;
    padding-top: 20px;
    a {
      text-decoration: none;
      color: $fontColorSmall;
      position: relative;
      text-transform: uppercase;
      transition: all 0.2s;
      p {
        font-size: 13px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 1.3px;
        transform: translateX(-50px);
        background: $BoldFontColor;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }

  .container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    .card {
      overflow: hidden;
      border: 1px solid #d9d2d2c4;
      width: 100%;
      border-radius: 6px;
      transition: all 0.2s;
      a {
        text-decoration: none;
      }
      .image {
        width: 100%;
        height: 280px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        text-align: center;
        padding-top: 8px;
        p {
          font-size: $mediumText;
          font-weight: 500;
          padding: 20px 0px;
          color: $fontColorSmall;
        }
      }

      &:hover {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
