
    .nav{
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
         background:$navColor;
         align-items: center;
        padding: 8px 0px;
        z-index: 99999;
  .nav-right{
    display: flex;
    gap: 30px;
    .menu{
        border: 0px solid transparent;
        border-radius: 20px;
    
    .home{
        position: relative;
        cursor: pointer;
        text-align: center;
      
        a{
            text-decoration: none;
            i{
                font-size: 20px;
                color: $fontColorSmall;
                padding: 12px 10px 10px 12px;
                border-radius: 50px;
                margin-left: 20px;
            }
            span{
                font-size: 16px;
                font-weight: 600;
                color: $fontColorSmall;
                margin-left: 5px;
            }


        }
    }
    .hidden{
        position: absolute;
        margin-top: -50px;
        overflow: auto;
        background: #ebe9e9;
        height: 100vh;
        margin-left: -260px;
        transition: all .5s;
        ul{
            list-style:none;
            li{
                padding: 10px;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 15px;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    color: $fontColorSmall;
                    transition: all .2s;
                    &:hover{
                        color:$primaryColor;
                    }
                }
            
            }
            span{
                display: block;
                width: 100%;
                height: 1px;
                margin-top: 10px;
                margin-bottom: 10px;
                background: rgba(217, 210, 210, 0.768627451);
            }
          
        }
    }
    &:hover{
        .hidden{
            margin-left: 0;
        }
    }
    
  }

   .detais{
    padding-top: 12px;
    ul{ 
        display: flex;
        list-style: none;
        gap: 30px;
       
        li{
            a{
                text-decoration: none;
                text-transform: uppercase;
                p{
                    color: $fontColorSmall;
                    font-size: $smallText;
                    &:hover{
                        color:$primaryColor;
                    }
                }
            }
        }
       
    }
  }
  .image{
        text-align: center;
        img{
            width: 120px;
        }
  }

  }
    

        .search-box{
            text-align: center;
            width: 600px;
            background:$WhiteColor;
            height: 45px;
            border: 0px solid $shadowColor;
            box-shadow: inset 0px 0px 2px 0px $shadowColor;
            border-radius: 50px;
          
            input{
                width: 90%;
                outline: none;
                border: none;
                height: 100%;
                padding-left: 15px;
                padding-right: 10px;
                font-size: 16px;
                background: transparent;
            }
            i{
                font-size: 20px;
                padding: 13px 5px 0 8px;
            }
            &:hover{
                box-shadow:  0px 0px 4px $shadowColor;
            }

        }

        .nav-left{
            display: flex; 
            gap: 20px;
            .cart-plus{
                text-align: center;
                padding: 12px 11px 10px 10px;
                border-radius: 50%;
                border: 0px solid transparent;
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: $fontColorSmall;
                    }
                }
    
            }
            .user{
                text-align: center;
                cursor: pointer;
                border-radius: 20px;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: $fontColorSmall;
                        padding: 9px 10px 10px 12px;
                        border-radius: 50px;
                    }
            }
        }
            .circle{
                text-align: center;
                padding:10px 12px;
                border-radius: 50%;
                margin-right: 20px;
                
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: $fontColorSmall;
                    }
                }
            }
        }
    }
    