.shopping-cart {
    .container{
        padding: 100px;
        h1{
            padding-bottom: 50px;
        }
        table { 
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
            border: 1px solid black;
        thead{
            border-color: #E8E8E8;
            border-bottom: 0 solid transparent;
            color: #212121;
            font-size: 16px;
            font-weight: 700;
            padding: 15px 20px;
            text-align: center;
        }
            th,
            td {
              border: 1px solid #E8E8E8;
              padding: 10px;
              text-align: left;
              border-bottom: 1px solid #E8E8E8;
              text-align: center;
              h6{
                font-size:  $smallText;

              }
            }
            
          }
    }
  
}
