*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:sans-serif;
}
main{
    position:absolute;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    background: #f5f5f5;
}