
    $primaryColorChar: #E4E6EB;
    $primaryColorLightText: #65676B;
    $secondaryColorF: #7CFC00;
    $navColor: #f59e0b;
    $hoverColor: #f5ad28fa;
    $whiteColorBoder:#E4E6EB;

    $paragraphColor: #c0c0c0 ;    
    $whiteColor: #fff;
    $color:#F5F6F7;
     
    $darkColorLightFont: #525151;
    $blackColor:#171717 ;
      
    $smallText: 16px;
    $mediumText:22px;
    $bigText: 42px;