
    $primaryColorChar: #93c5fd;
    $primaryColorLightMaron: #1f59ff;
    $secondaryColorVio: #60a5fa;
    $blueColor:#d4d4d8;

    $paragraphColor: #c0c0c0 ;    
    $whiteColor: #fff;
    
    $darkColorLight: #171717;
    $blackColor: #000 ;
      
    $smallText: 16px;
    $bigText: 42px;