
    $primaryColorChar: #E4E6EB;
    $primaryColorLightText: #65676B;
    $secondaryColorF: #7CFC00;
    //$blueColor:#E4E6EB;
    $blueColor: #F5F6F7;

    $paragraphColor: #c0c0c0 ;    
    $whiteColor: #fff;
     
    $darkColorLight: #171717;
    $blackColor: #000 ;
      
    $smallText: 16px;
    $bigText: 42px;