* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", sans-serif;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.view {
  text-align: center;
  padding-top: 20px;
}
.view a {
  text-decoration: none;
  color: #5d5b5b;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s;
}
.view a p {
  font-size: 13px;
}
.view a::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1.3px;
  transform: translateX(-50px);
  background: #000000;
}
.view a:hover {
  color: #be185d;
}

.nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background: #f5f5f5;
  align-items: center;
  padding: 8px 0px;
  z-index: 99999;
}
@media only screen and (min-width: 1500px) {
  .nav {
    padding: 0px 150px;
  }
}
.nav .nav-right {
  display: flex;
  gap: 30px;
}
.nav .nav-right .menu {
  border: 0px solid transparent;
  border-radius: 20px;
}
.nav .nav-right .menu .home {
  position: relative;
  cursor: pointer;
  text-align: center;
}
.nav .nav-right .menu .home a {
  text-decoration: none;
}
.nav .nav-right .menu .home a i {
  font-size: 20px;
  color: #5d5b5b;
  padding: 12px 10px 10px 12px;
  border-radius: 50px;
  margin-left: 20px;
}
.nav .nav-right .menu .home a span {
  font-size: 16px;
  font-weight: 600;
  color: #5d5b5b;
  margin-left: 5px;
}
.nav .nav-right .menu .hidden {
  position: absolute;
  margin-top: -50px;
  overflow: auto;
  background: #ebe9e9;
  height: 100vh;
  margin-left: -400px;
  transition: all 0.5s;
}
.nav .nav-right .menu .hidden ul {
  list-style: none;
}
.nav .nav-right .menu .hidden ul li {
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}
.nav .nav-right .menu .hidden ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #5d5b5b;
  transition: all 0.2s;
}
.nav .nav-right .menu .hidden ul li a:hover {
  color: #be185d;
}
.nav .nav-right .menu .hidden ul span {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(217, 210, 210, 0.768627451);
}
.nav .nav-right .menu:hover .hidden {
  margin-left: 0;
}
.nav .nav-right .detais {
  padding-top: 12px;
}
.nav .nav-right .detais ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav .nav-right .detais ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.nav .nav-right .detais ul li a p {
  color: #5d5b5b;
  font-size: 16px;
}
.nav .nav-right .detais ul li a p:hover {
  color: #be185d;
}
.nav .nav-right .image {
  text-align: center;
}
.nav .nav-right .image img {
  width: 120px;
}
.nav .search-box {
  text-align: center;
  width: 600px;
  background: #fff;
  height: 45px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.nav .search-box input {
  width: 90%;
  outline: none;
  border: none;
  height: 100%;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 16px;
  background: transparent;
}
.nav .search-box i {
  font-size: 20px;
  padding: 13px 5px 0 8px;
}
.nav .search-box:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.nav .nav-left {
  display: flex;
  gap: 20px;
}
.nav .nav-left .cart-plus {
  text-align: center;
  padding: 12px 11px 10px 10px;
  border-radius: 50%;
  border: 0px solid transparent;
}
.nav .nav-left .cart-plus a {
  text-decoration: none;
}
.nav .nav-left .cart-plus a i {
  font-size: 22px;
  color: #5d5b5b;
}
.nav .nav-left .user {
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
}
.nav .nav-left .user a {
  text-decoration: none;
}
.nav .nav-left .user a i {
  font-size: 22px;
  color: #5d5b5b;
  padding: 9px 10px 10px 12px;
  border-radius: 50px;
}
.nav .nav-left .circle {
  text-align: center;
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 20px;
}
.nav .nav-left .circle a {
  text-decoration: none;
}
.nav .nav-left .circle a i {
  font-size: 22px;
  color: #5d5b5b;
}

.header {
  padding-top: 20px;
  border-radius: 30px;
}
@media only screen and (min-width: 1500px) {
  .header {
    padding: 0px 150px;
  }
}

#slider {
  overflow: hidden;
  border-radius: 6px;
}

#slider figure img {
  width: 20%;
  height: 100vh;
  padding-top: 45px;
  float: left;
  border-radius: 6px;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.Categories {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media only screen and (min-width: 1500px) {
  .Categories {
    padding: 0px 150px;
  }
}
.Categories h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}
.Categories .view {
  text-align: center;
  padding-top: 20px;
}
.Categories .view a {
  text-decoration: none;
  color: #5d5b5b;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s;
}
.Categories .view a p {
  font-size: 13px;
}
.Categories .view a::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1.3px;
  transform: translateX(-50px);
  background: #000000;
}
.Categories .view a:hover {
  color: #be185d;
}
.Categories .container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}
.Categories .container .card {
  overflow: hidden;
  border: 1px solid rgba(217, 210, 210, 0.768627451);
  width: 100%;
  border-radius: 6px;
  transition: all 0.2s;
}
.Categories .container .card a {
  text-decoration: none;
}
.Categories .container .card .image {
  width: 100%;
  height: 280px;
}
.Categories .container .card .image img {
  width: 100%;
  height: 100%;
}
.Categories .container .card .info {
  text-align: center;
  padding-top: 8px;
}
.Categories .container .card .info p {
  font-size: 22px;
  font-weight: 500;
  padding: 20px 0px;
  color: #5d5b5b;
}
.Categories .container .card:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.product {
  padding-bottom: 70px;
}
.product h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}
.product .container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  box-sizing: border-box;
}
@media only screen and (min-width: 1500px) {
  .product .container {
    padding: 0px 150px;
  }
}
.product .container .item {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  border-radius: 6px;
  transition: all 0.2s;
  border: 1px solid rgba(217, 210, 210, 0.768627451);
}
.product .container .item .cart {
  position: absolute;
  margin-top: 8px;
  transition: all 0.5s;
  transform: translateX(300px);
  background: #fff;
  padding: 6px;
  border-radius: 20px;
}
.product .container .item .cart a {
  text-decoration: none;
}
.product .container .item .cart a i {
  font-size: 22px;
  color: #5d5b5b;
}
.product .container .item a {
  text-decoration: none;
}
.product .container .item a .image {
  width: 100%;
  height: 300px;
}
.product .container .item a .image img {
  width: 100%;
  height: 100%;
}
.product .container .item a .info {
  text-align: center;
  padding-top: 15px;
}
.product .container .item a .info p {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.product .container .item a .info .icon {
  font-size: 13px;
  color: #5d5b5b;
  letter-spacing: -1.5px;
  margin-top: 8px;
}
.product .container .item a .info .price {
  margin-top: 8px;
  margin-bottom: 10px;
}
.product .container .item a .info .price p {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.product .container .item:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.product .container .item:hover .cart {
  transform: translate(250px);
}

.footer {
  background: #131a22;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 50px;
  border-bottom: 1px solid #515151;
}
@media only screen and (min-width: 1500px) {
  .footer .footer-top {
    padding: 0px 150px;
  }
}
.footer .footer-top .logo {
  flex-basis: 30%;
}
.footer .footer-top .logo img {
  width: 150px;
  margin-bottom: 20px;
}
.footer .footer-top .logo p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.footer .footer-top .logo h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
.footer .footer-top h4 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 30px;
}
.footer .footer-top .link ul {
  list-style: none;
}
.footer .footer-top .link ul li {
  margin-bottom: 20px;
}
.footer .footer-top .link ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s;
}
.footer .footer-top .link ul li a:hover {
  color: #be185d;
}
.footer .footer-top .service {
  flex-basis: 25%;
}
.footer .footer-top .categories {
  flex-basis: 20%;
}
.footer .footer-top .our-company {
  flex-basis: 25%;
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
@media only screen and (min-width: 1500px) {
  .footer .footer-bottom {
    padding: 0px 150px;
  }
}
.footer .footer-bottom .left p {
  font-size: 16px;
  color: #fff;
}
.footer .footer-bottom .right p {
  font-size: 16px;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
