* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  padding-left: 50px;
  padding-right: 50px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #d4d4d8;
  align-items: center;
  padding: 20px;
}
.nav .home {
  flex-basis: 10%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
}
.nav .home a {
  text-decoration: none;
}
.nav .home a i {
  font-size: 20px;
  color: #000;
  background: #60a5fa;
  padding: 9px 10px 10px 12px;
  border-radius: 50px;
}
.nav .home a span {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.nav .home:hover {
  border: 2px solid #1f59ff;
  border-radius: 20px;
  box-shadow: 2px 3px 8px #171717;
}
.nav .image {
  flex-basis: 10%;
  text-align: center;
}
.nav .image img {
  width: 120px;
}
.nav .search-box {
  flex-basis: 45%;
  text-align: center;
  background: #fff;
  height: 45px;
  border: 2px solid #1f59ff;
  box-shadow: inset 1px 0px 2px 1px #93C5FC;
  border-radius: 50px;
}
.nav .search-box input {
  width: 90%;
  outline: none;
  border: none;
  height: 100%;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 19px;
  background: transparent;
}
.nav .search-box i {
  font-size: 20px;
  padding: 10px 0 0 8px;
}
.nav .search-box:hover {
  box-shadow: 0px 2px 5px #171717;
}
.nav .microphone {
  flex-basis: 2%;
  text-align: center;
  background: #60a5fa;
  padding: 9px 13px;
  border-radius: 50%;
  margin-left: -24px;
  border: 2px solid transparent;
}
.nav .microphone a {
  text-decoration: none;
}
.nav .microphone a i {
  font-size: 20px;
  color: #000;
}
.nav .microphone:hover {
  background: transparent;
  padding: 9px 13px;
  border: 2px solid #1f59ff;
  border-radius: 50%;
  box-shadow: 2px 3px 8px #171717;
}
.nav .cart-plus {
  flex-basis: 3%;
  text-align: center;
  background: #60a5fa;
  padding: 12px 11px 10px 10px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.nav .cart-plus a {
  text-decoration: none;
}
.nav .cart-plus a i {
  font-size: 20px;
  color: #000;
}
.nav .cart-plus:hover {
  background: transparent;
  padding: 13px 11px 10px 10px;
  border-radius: 50%;
  border: 2px solid #1f59ff;
  box-shadow: 2px 3px 8px #171717;
}
.nav .user {
  flex-basis: 10%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
}
.nav .user a {
  text-decoration: none;
}
.nav .user a i {
  font-size: 20px;
  color: #000;
  background: #60a5fa;
  padding: 9px 10px 10px 12px;
  border-radius: 50px;
}
.nav .user a span {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.nav .user:hover {
  border: 2px solid #1f59ff;
  border-radius: 20px;
  box-shadow: 2px 3px 8px #171717;
}
.nav .circle {
  flex-basis: 2%;
  text-align: center;
  background: #60a5fa;
  padding: 10px 12px;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: 30px;
}
.nav .circle a {
  text-decoration: none;
}
.nav .circle a i {
  font-size: 20px;
  color: #000;
}
.nav .circle:hover {
  background: transparent;
  padding: 10px 12px;
  border-radius: 50%;
  border: 2px solid #1f59ff;
  box-shadow: 2px 3px 8px #171717;
}

.header {
  padding-top: 20px;
  border-radius: 30px;
}

#slider {
  overflow: hidden;
  border-radius: 6px;
}

#slider figure img {
  width: 20%;
  height: 375px;
  float: left;
  border-radius: 6px;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/*# sourceMappingURL=main.css.map */
